/* General Styles */
*{
  
}
:root {
  width: auto;
  margin: 0;
}

body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Behove';
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin: 0%;
}

p{
  font-family: 'Baloo 2	', cursive;
  color: #595d63;
}

