.card-video {
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 500px;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-video:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: box-shadow 0.5s, transform 0.5s;
}

.video-player {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.video-title {
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
  text-align: left;
  padding-left: 15px;
}

.video-description {
  font-size: 0.9rem;
  padding: 0px 20px 20px 15px;
  color: #666;
  text-align: justify;

  margin: 5px 0 0 0;
}

.video-time {
  font-size: 0.8rem;
  color: #999;
  margin: 5px 0 0 0;
}

.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #eee;
  margin-top: auto; /* empuja .video-info al fondo del contenedor */
}

.video-icon {
  width: 24px;
  height: 24px;
  margin: 5px 0 0 0;
}

.video-icon {
  width: 24px;
  height: 24px;
  margin: 5px 0 0 0;
}
