.funcionalidades-card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 350px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    gap: 20px;
    line-height: 10px;

}

.funcionalidades-card:hover {
    transform: translateY(-5px);
}

.funcionalidades-icon {
    display: flex;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.funcionalidades-title {
    display: flex;
    font-size: 1rem;
    margin-bottom: 10px;
    
}

.funcionalidades-description {
    display: flex;
    font-size: 1rem;
    
}


